.content{
    display:inline;
}

.left{
    height:400px;
    width:500px;
    display:inline;
    background-color:orange;
}

.mid{
    display:inline;
}

.right{
    display:inline;
}

#header{
    background-color:#CEE3F8;
    font-size:48px;
}
p{
    /*.link{
        font-size:16px;
    }
    color:red;*/
}

h1{
    display:inline-block;
    background-color:blue;
}
